@use "../../../styles/animations" as *;
@use "../../../styles/variables" as v;

.header {
  background-color: v.$c-board;
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 5rem;
  color: v.$c-light;

  &__score {
    &--current {
      &--animated {
        animation: bounce 0.2s linear;
      }
    }
    &--max {
      &--animated {
        animation: bounce 0.2s linear;
      }
    }
  }
}
