@use "../../../../styles/mixins" as m;
@use "../../../../styles/variables" as v;

.end {
  color: #fff;
  font-size: 10rem;
  &__img {
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 44.4%;
    top: 33%;
  }
  &__wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }
  &__btn-new-game {
    z-index: 100;
    cursor: pointer;
    padding: 2rem;
    border: none;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: v.$f-default;
    font-weight: 600;
    background-color: v.$c-text;
    outline: none;
    transition: transform 0.2s;
    backface-visibility: hidden;
    &:hover {
      transform: translateY(-0.2rem);
    }
  }
}
