@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.board {
  width: v.$bs-default;
  height: v.$bs-default;
  background-color: v.$c-board;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  z-index: 10;

  &__wrapper {
    @include m.absolute-center();
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__cell {
    border: 1px solid v.$c-main;
    color: rgb(126, 126, 126);
    position: relative;
    &--snake {
      background-color: v.$c-snake;
    }
    &--food {
      background-color: v.$c-food;
    }
  }
  &__loading-text {
    color: #fff;
    font-size: v.$f-large;
    @include m.absolute-center();
    top: 25%;
  }
  &__snake-head {
    @include m.absolute-center();
    width: 5.5rem;
    height: 5.5rem;
    z-index: 1;
  }
}
