@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.board {
  background-color: v.$c-board;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  z-index: 10;
  gap: 0.1vw;

  &__wrapper {
    @include m.absolute-center();
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 700px) {
      top: 75vw;
    }
    @media screen and (max-width: 450px) {
      top: 85vw;
    }
  }

  &__cell {
    border: 1px solid v.$c-main;
    color: rgb(126, 126, 126);
    position: relative;
    width: v.$bcs-default;
    height: v.$bcs-default;

    @media screen and (max-width: 700px) {
      width: v.$bcs-small;
      height: v.$bcs-small;
    }
    &--snake {
      background-color: v.$c-snake;
      &__head {
        @include m.absolute-center();
        width: v.$bshs-default;
        height: v.$bshs-default;
        z-index: 1;
        @media screen and (max-width: 700px) {
          width: v.$bshs-small;
          height: v.$bshs-small;
        }
      }
    }
    &--food {
      background-color: v.$c-food;
    }
  }
  &__loading-text {
    color: #fff;
    font-size: v.$f-large;
    @include m.absolute-center();
    top: 25%;
  }
}
