@use "./variables" as v;
@use "./mixins" as m;

.btn {
  background-color: v.$c-main;
  color: v.$c-light;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: v.$f-default;
  font-weight: 600;
  @include m.bsh-1;
  cursor: pointer;
  transition: all 0.25s;
  backface-visibility: hidden;
  &:hover {
    @include m.bsh-2;
    transform: translateY(-0.2rem);
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    &:hover {
      transform: translate(0);
      @include m.bsh-1;
    }
  }
}

.btn-light {
  @include m.btn;
  border: 2px solid #fff;
}

.btn-pink {
  @include m.btn;
  background-color: pink;
}
