@use "./variables" as v;

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin bsh-1 {
  box-shadow: 0rem 0.5rem 1.5rem rgba($color: #000000, $alpha: 0.3);
}
@mixin bsh-2 {
  box-shadow: 0rem 0.75rem 2rem rgba($color: #000000, $alpha: 0.5);
}
@mixin icon {
  width: v.$is-default;
  height: v.$is-default;
  fill: v.$c-light;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.4s;
  &:hover {
    opacity: 1;
  }
}
@mixin link-icon {
  width: v.$is-default;
  height: v.$is-default;
  fill: v.$c-light;
  cursor: pointer;
}

@mixin btn {
  text-decoration: none;
  color: #fff;
  padding: 1rem 1.75rem;
  font-size: 2.5rem;
  transition: padding 0.4s;
  border: none;
  cursor: pointer;
  @include bsh-1();
  &:hover {
    padding: 1rem 2.5rem;
  }
  &:disabled {
    cursor: not-allowed;
    padding: 1rem 1.75rem;
    opacity: 0.6;
  }
}
