//   COLORS
$c-main: #1f1f23;
$c-board: #0e0e10;
$c-light: #c9c9c9;
$c-settings: #2b2a33;

$c-food: #bd2916;
$c-snake: #44db5d;

//   BOARD_SIZE
$bs-default: 700px;

// BOARD_CELL_SIZE
$bcs-default: 2vw;

// BOARD_SNAKE_HEAD_SIZE
$bshs-default: 3vw;

//FONT
$f-default: 1.6rem;
$f-large: 4rem;

//ICONS
$is-default: 3.5rem;
