@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;
@use "../../styles/animations";
@use "../../styles/components";

.settings {
  @include m.absolute-center();
  width: 60rem;
  background-color: v.$c-settings;
  z-index: 1002;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  @media screen and (max-width: 1000px) {
    width: 70vw;
  }
  @media screen and (max-width: 700px) {
    top: 75vw;
  }
  @media screen and (max-width: 550px) {
    width: 90vw;
    gap: 4rem;
  }
  @media screen and (max-width: 450px) {
    top: 100vw;
  }
  &--hidden {
    animation: hide 0.4s forwards;
    padding: 4rem;
    border-radius: 1rem;
    @media screen and (max-width: 550px) {
      padding: 2rem;
    }
  }
  &--shown {
    animation: show 0.4s forwards;
    padding: 4rem;
    border-radius: 1rem;
    @media screen and (max-width: 550px) {
      padding: 2rem;
    }
  }
  &__heading {
    text-align: center;
    color: v.$c-light;
    font-size: 3.5rem;
    @media screen and (max-width: 1000px) {
      font-size: 3rem;
    }
  }

  &__icon {
    @include m.icon;
  }
  &__variant--1,
  &__variant--2 {
    display: flex;
    justify-content: space-between;
    color: v.$c-light;
    font-size: v.$f-default;
    &__heading {
      display: flex;
      align-items: center;
    }
  }
  &__variant--1 {
    & > form {
      position: relative;
      & > input {
        display: none;
      }
      & > input:not(:checked) ~ ul {
        opacity: 0;
        pointer-events: none;
        user-select: none;
      }
      & > label {
        padding: 0.4rem 2rem;
        border: 1px solid;
        display: flex;
        gap: 2rem;
        cursor: pointer;
      }

      & > ul {
        position: absolute;
        list-style: none;
        transition: opacity 0.4s;
        width: 100%;
        z-index: 1002;
        & > li {
          text-align: center;
          border: 1px solid;
          cursor: pointer;
          transition: all 0.4s;
          background-color: v.$c-settings;
          &:hover {
            background-color: v.$c-main;
          }
        }
      }
    }
    &__chevron-down {
      fill: v.$c-light;
      width: 1.5rem;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
    & > * {
      white-space: nowrap;
    }
    &__btn-close {
      @include m.hover();
      position: absolute;
      color: #fff;
      font-size: 2.5rem;
      top: 1.1rem;
      right: 1.75rem;
    }
  }
}
